:root {
    --contrast-threshold: 60%;

    --color-primary-h: 194;
    --color-primary-s: 100%;
    --color-primary-l: 43%;
    --color-primary: hsl(var(--color-primary-h), var(--color-primary-s), var(--color-primary-l));
    --color-primary-lighter: hsl(var(--color-primary-h), var(--color-primary-s), calc(var(--color-primary-l) + 10%));
    --color-primary-light: hsl(var(--color-primary-h), var(--color-primary-s), calc(var(--color-primary-l) + 5%));
    --color-primary-dark: hsl(var(--color-primary-h), var(--color-primary-s), calc(var(--color-primary-l) - 5%));
    --color-primary-darker: hsl(var(--color-primary-h), var(--color-primary-s), calc(var(--color-primary-l) - 10%));
    --color-primary-triad1: hsl(calc(var(--color-primary-h) + 120), var(--color-primary-s), var(--color-primary-l));
    --color-primary-triad2: hsl(calc(var(--color-primary-h) + 240), var(--color-primary-s), var(--color-primary-l));
    --color-primary-fg: hsl(0, 0%, calc((var(--color-primary-l) - var(--contrast-threshold)) * -100));

    --color-secondary-h: 340;
    --color-secondary-s: 78%;
    --color-secondary-l: 54%;
    --color-secondary: hsl(var(--color-secondary-h), var(--color-secondary-s), var(--color-secondary-l));
    --color-secondary-lighter: hsl(var(--color-secondary-h), var(--color-secondary-s), calc(var(--color-secondary-l) + 10%));
    --color-secondary-light: hsl(var(--color-secondary-h), var(--color-secondary-s), calc(var(--color-secondary-l) + 5%));
    --color-secondary-dark: hsl(var(--color-secondary-h), var(--color-secondary-s), calc(var(--color-secondary-l) - 5%));
    --color-secondary-darker: hsl(var(--color-secondary-h), var(--color-secondary-s), calc(var(--color-secondary-l) - 10%));
    --color-secondary-triad1: hsl(calc(var(--color-secondary-h) + 120), var(--color-secondary-s), var(--color-secondary-l));
    --color-secondary-triad2: hsl(calc(var(--color-secondary-h) + 240), var(--color-secondary-s), var(--color-secondary-l));
    --color-secondary-fg: hsl(0, 0%, calc((var(--color-secondary-l) - var(--contrast-threshold)) * -100));

    --color-warn-h: 45;
    --color-warn-s: 100%;
    --color-warn-l: 41%;
    --color-warn: hsl(var(--color-warn-h), var(--color-warn-s), var(--color-warn-l));
    --color-warn-lighter: hsl(var(--color-warn-h), var(--color-warn-s), calc(var(--color-warn-l) + 10%));
    --color-warn-light: hsl(var(--color-warn-h), var(--color-warn-s), calc(var(--color-warn-l) + 5%));
    --color-warn-dark: hsl(var(--color-warn-h), var(--color-warn-s), calc(var(--color-warn-l) - 5%));
    --color-warn-darker: hsl(var(--color-warn-h), var(--color-warn-s), calc(var(--color-warn-l) - 10%));
    --color-warn-triad1: hsl(calc(var(--color-warn-h) + 120), var(--color-warn-s), var(--color-warn-l));
    --color-warn-triad2: hsl(calc(var(--color-warn-h) + 240), var(--color-warn-s), var(--color-warn-l));
    --color-warn-fg: hsl(0, 0%, calc((var(--color-warn-l) - var(--contrast-threshold)) * -100));

    --color-error-h: 354;
    --color-error-s: 70%;
    --color-error-l: 54%;
    --color-error: hsl(var(--color-error-h), var(--color-error-s), var(--color-error-l));
    --color-error-lighter: hsl(var(--color-error-h), var(--color-error-s), calc(var(--color-error-l) + 10%));
    --color-error-light: hsl(var(--color-error-h), var(--color-error-s), calc(var(--color-error-l) + 5%));
    --color-error-dark: hsl(var(--color-error-h), var(--color-error-s), calc(var(--color-error-l) - 5%));
    --color-error-darker: hsl(var(--color-error-h), var(--color-error-s), calc(var(--color-error-l) - 10%));
    --color-error-triad1: hsl(calc(var(--color-error-h) + 120), var(--color-error-s), var(--color-error-l));
    --color-error-triad2: hsl(calc(var(--color-error-h) + 240), var(--color-error-s), var(--color-error-l));
    --color-error-fg: hsl(0, 0%, calc((var(--color-error-l) - var(--contrast-threshold)) * -100));

    --color-success-h: 133;
    --color-success-s: 61%;
    --color-success-l: 41%;
    --color-success: hsl(var(--color-success-h), var(--color-success-s), var(--color-success-l));
    --color-success-lighter: hsl(var(--color-success-h), var(--color-success-s), calc(var(--color-success-l) + 10%));
    --color-success-light: hsl(var(--color-success-h), var(--color-success-s), calc(var(--color-success-l) + 5%));
    --color-success-dark: hsl(var(--color-success-h), var(--color-success-s), calc(var(--color-success-l) - 5%));
    --color-success-darker: hsl(var(--color-success-h), var(--color-success-s), calc(var(--color-success-l) - 10%));
    --color-success-triad1: hsl(calc(var(--color-success-h) + 120), var(--color-success-s), var(--color-success-l));
    --color-success-triad2: hsl(calc(var(--color-success-h) + 240), var(--color-success-s), var(--color-success-l));
    --color-success-fg: hsl(0, 0%, calc((var(--color-success-l) - var(--contrast-threshold)) * -100));

    --color-disabled: #CCCCCC;
    --color-disabled-fg:rgba(0,0,0,.3);
}