body {
  margin: 0;
  font-family: Satoshi, sans-serif;
}

input[type=text]{
  border-radius: 12px;
  padding: 20px 40px;
  font-family: Satoshi, sans-serif;
  font-size: 16px;
  font-weight: 500;
  border: none;
}

.loading {
  opacity: .5;
  cursor: not-allowed;
}

.text {
  font-family: Satoshi, sans-serif;
}

.text-center{
  text-align: center;
}

.text-decoration-line-through{
  text-decoration: line-through;
}